body {
  background-color: #3d4046;
}
.App {
  padding: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  ;
}
input[type="submit" i] {
  background-color: rgb(234, 209, 26);
  border: 0px;
  padding: 9px;
  border-radius: 6px;
  margin-left: 10px;;
}

input[type="submit" i]:hover {
  background-color: rgb(234, 161, 26);
}

input[type="text" i] {
  padding: 8px 15px;
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  border: 0px;
  width: 80vw;
  height: 300px;
  border-radius: 5px;
}

form {
  margin-bottom: 15px;
  font-weight: bold;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
  background-color: #d5d6d9;
}

label {
  color: #d5d6d9;
}

tr.header td{
  background-color: #262729;
  color: white;
}

h2 {
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

div.title {
  max-width: 80vw;
  color: #d5d6d9;
}

@media (max-width: 950px) {
  form {
    font-size: 12px;
  }
  input[type="text" i] {
    padding: 8px 1px;
    border-radius: 5px;
    margin-left: 10px;
  }
  input[type="submit" i] {
    font-size: 12px;
  }
  td {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  td {
    font-size: 12px;
  }
}
